<div class="grid_12 round">
   <div class='grid_6 omega'>
   <%= render 'about' %>
   </div>
   <div class='grid_6 esp2 alpha push_1'>
    <%= image_tag('prueba3.gif',:size=> "350x250") %>
   </div>
</div>

<div class="grid_12"><hr></div>
<div class="grid_12 round">
  <div class='grid_6 esp2 alpha push_1'>
    <%= image_tag('buscofertas2.gif',:size=> "350x250") %>
   </div>
   <div class='grid_6 omega'>
   <%= render 'diferencias' %>
   </div>   
</div>

<div class="grid_12"><hr></div>
<div class="grid_12"> 
   <div class='grid_6 omega'>
   <%= render 'partido' %>
   </div>
    <div class='grid_6 esp2 alpha push_1'>
    <%= image_tag('ventaja2.gif',:size=> "300x300") %>
   </div>
</div>

<div class="grid_12"><hr></div>
